.news-container {
  padding: 20px 40px;

  width: 90%;
  display: block;
  margin: 0 auto;
  .newslist {
    background: linear-gradient(223.88deg, #84848498 8.89%, #000000 94.31%);
    text-align: left;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    a {
      color: rgb(255, 255, 255);
      &:hover {
        color: #dddddd;
      }
    }
  }
}
